extends ./layouts/default

block title
  title 注册
block styles
  link(href="css/login.css" rel="stylesheet")

block content
  form.form-signin.text-center(method="post", action="/register")
    //- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" widt="72" height="72">
    h1.h3.mb-3.font-weight-normal 注册
    label.sr-only(for="inputUser") 用户名
    input#inputUser.form-control(type="text" placeholder="用户名" name="username" required autofocus)
    label.sr-only(for="inputEmail") 邮箱
    input#inputEmail.form-control(type="email" placeholder="邮箱" name="email" required autofocus)
    label.sr-only(for="inputPassword") 密码
    input.inputPassword.form-control(type="password" placeholder="密码" name="password" required)
    label.sr-only(for="inputFile") 上传头像
    input#inputFile.form-control-file(type="file"  name="photo"  required autofocus)
    div.checkbox.mb-3
      label
        input.remember-me(type="checkbox" name="check")
        span 记住我
      a(href="/login") 登录
    div.btn-outline-danger #{errMessage}
    input.btn.btn-lg.btn-primary.btn-block(type="submit" value="注册")