.col-12.col-md-1.col-xl-1.sidebar
  .collapse.cat-links
    .sidebar-item.active
      a.sidebar-link(href='/link1') 2018 年
      a.sidebar-link(href='/link1') 2019 年
      a.sidebar-link(href='/link1') 2020 年
      a.sidebar-link(href='/link1') 2021 年
      a.sidebar-link(href='/link1') 2022 年
      a.sidebar-link(href='/link1') 2023 年
      a.sidebar-link(href='/link1') 2024 年
      a.sidebar-link(href='/link1') 2025 年
